.carousel {
    position: relative;
    width: 100%;
   
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
