nav{
    background-color: #2874f0;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display:flex;
}
.search{
    justify-content:center;
    font-size:16px;
    font-style:italic;

}

img{
    height:100%;
    width:100px;
    background-size: cover;
}
.sell{
    margin-left: -68px;
}
.nav-right{
    display: flex;
    color:white;
    justify-content: space-between;
    height:10px;
    width: 130px;
    align-items: center;
    list-style: none;
    font-size: 18px;
    font-weight: 300;
}
.nav-right div{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border:none;
    border-style:none;
    background-color: transparent;
    width: 100%;
    outline: none; 
}
.serach-box{
    border-radius: 5px;
    background-color: #edf0ee;
    height: 31px;
    width: 500px;
    display: flex;
    /* justify-content: start; */
    padding: 5px;
    justify-content: center;
    align-items: center;
}